h1 {
  color: white;
  text-align: center;
  font-style: italic;
}

body {
  background-color: burlywood;
} 

.navbar {
  color: white;
}

h2 {
  color: white;
    font-style: italic;
    text-align: center;
    font-style: italic;
  
}

div {
  color: white;
}

li {
  color: black;
}
a {
  color: black;
  font-size: small;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

