h1 {
  color: white;
  text-align: center;
  font-style: italic;
}

body {
  background-color: bisque;
} 

.navbar {
  color: white;
}

h2 {
  color: white;
    font-style: italic;
    text-align: center;
    font-style: italic;
  
}

div {
  color: white;
}

li {
  color: white;
}

a {
  color: white;
  font-size: small;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

body {
  background-image: url("mypic.jpg ");
  background-color: black;
 }

 .my-class {
  border: 2px green;
  padding: 10px;
  background-color: gray;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
 }
 